.partnery-v-1 {
  &__slider {
    & .swiper {
      position: relative;
      overflow: hidden;

      &-button {
        &-prev,
        &-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 62px;
          background-color: #b6e4fb;
          background-image: none;

          &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../assets/images/npartners/prev-icon.svg) center / cover no-repeat;
            transition: filter ease-out 0.1s;
          }

          &:hover {
            background-color: #01b0e3;
            transition: background-color ease-out 0.2s;
          }

          &:hover::after {
            filter: brightness(0%) invert(100%);
          }
        }

        &-next {
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-slide {
      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
          display: block;
          width: 100%;
          height: auto;
        }

        &-name {
          min-height: 70px;
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
          color: #000;
        }
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0;
  }
}
